.offers-container{
    max-width: 1100px;
    margin: 0 auto;
}


.title-offers{
    background: linear-gradient(to right, darkorange, #ad4236 66%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    font-size: 35px;
    line-height: 1.2;
    letter-spacing: 1.5px;
}