@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Barlow Condensed", sans-serif;
}

.home-page {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url(/Images/home-living.jpg);
  background-size: cover;
  background-position: center;
  margin: 0;
  height: 100vh;
}

.homepage-container {
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 145px;
  padding: 10px;
}

.menu-list {
  list-style-type: none;
  display: inline-block;
  padding: 15px;
}

.menu-links {
  color: white;
  text-decoration: none;
  padding: 10px;
  font-weight: bold;
}

.menu-links:hover {
  background: linear-gradient(to right, darkorange, #ad4236 75%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content {
  position: absolute;
  top: 200px;
  left: 0;
  color: white;
}

.first-paragraph {
  background: linear-gradient(to right, darkorange, #ad4236 75%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 600px;
  margin: 10px;
  font-size: 38px;
}

.second-paragraph {
  margin: 10px;
}

.content-btn {
  margin: 10px;
  border: transparent;
  background: linear-gradient(to right, darkorange, #ad4236 80%);
  padding: 10px 16px;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.choice-container {
  position: absolute;
  top: 570px;
  left: 0;
  background-color: steelblue;
  width: 950px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-radius: 2px;
  background: linear-gradient(to right, darkorange, #ad4236 80%);
}

.class-btns {
  height: 35px;
  color: white;
  border: none;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px 20px 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  font-size: 16px;
  cursor: pointer;
  margin: 6px;
}

.available {
  background: transparent;
}

.experience-page {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.8)), url(/Images/living-room.jpg);
  background-position: center;
  background-size: cover;
}

.experience-container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.first-paragraph-experience {
  width: 500px;
  background: linear-gradient(to right, darkorange, #ad4236 75%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 38px;
}

.image1-experience {
  width: 450px;
  height: 230px;
  padding: 10px;
  align-self: start;
}

.image2-experience {
  width: 500px;
  height: 250px;
  object-fit: cover;
  object-position: center;
  padding: 10px 2px 10px 10px;
  align-self: end;
}

.paragraph-experience {
  color: white;
  width: 500px;
  padding: 10px;
  font-size: 20px;
}

.explore-page {
  background: rgba(0, 0, 0, 0.95);
  min-height: 100vh;
}

.explore-container {
  max-width: 1100px;
  margin: 0 auto;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text .title {
  background: linear-gradient(to right, darkorange, #ad4236 66%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 35px;
  line-height: 1.2;
  letter-spacing: 1.5px;
  margin-bottom: 6px;
  margin-top: 25px;
}

.text .text-1 {
  color: white;
}

.the-images {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}

.images {
  position: relative;
}

.the-images .images img {
  width: 250px;
  height: 400px;
  border-radius: 2px;
  object-fit: cover;
  object-position: center;
  opacity: 0.6;
  cursor: pointer;
  transition: all 0.3s;
}

.the-images .images img:hover {
  transform: scale(1.03);
  opacity: 1;
}

.images p {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  margin-left: 20px;
}

.offers__container {
  max-width: 1100px;
  margin: 0 auto;
  min-height: 100vh;
}

.offers__title {
  background: linear-gradient(to right, darkorange, #ad4236 66%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 35px;
  margin-top: 30px;
  line-height: 1.2;
  letter-spacing: 1.5px;
}

.offers__paragraph {
  margin-bottom: 25px;
}

.offers__cards {
  display: grid;
  grid-template-columns: 520px 520px;
  grid-template-rows: 350px 350px;
  column-gap: 29px;
  row-gap: 36px;
}

.offers__card {
  border-radius: 5px;
  box-shadow: 2px 6px 10px 1px rgba(122, 122, 122, 0.4);
  position: relative;
  color: #fff;
}
.offers__card .card__image {
  width: 100%;
  border-radius: 5px;
  z-index: 1;
  height: 100%;
}
.offers__card .card--1__text {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0;
  display: flex;
  flex-direction: column;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.6);
}
.offers__card .card--1__text div:nth-child(1) {
  margin-left: 340px;
  margin-top: 20px;
  text-align: center;
  width: 180px;
}
.offers__card .card--1__text div:nth-child(1) p {
  font-size: 10px;
}
.offers__card .card--1__text div:nth-child(2) {
  margin-left: 30px;
  margin-top: 80px;
  width: 180px;
  text-align: center;
}
.offers__card .card--1__text div:nth-child(2) h3 {
  font-size: 31px;
  line-height: 25px;
}
.offers__card .card--1__text div:nth-child(2) p {
  font-size: 12.1px;
}
.offers__card .card--2__text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.6);
}
.offers__card .card--2__text p {
  text-align: center;
}
.offers__card .card--2__text div:nth-child(1) p:nth-child(1) {
  font-size: 40px;
  letter-spacing: 5px;
  margin-top: 20px;
}
.offers__card .card--3__text {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.offers__card .card--3__text div {
  position: absolute;
  bottom: 30px;
  left: 180px;
}
.offers__card .card--3__text div p:nth-child(1) {
  font-size: 14px;
  margin-bottom: 5px;
}
.offers__card .card--3__text div p:nth-child(2) {
  font-size: 10px;
  width: 220px;
  margin-left: 90px;
}
.offers__card .card--4__text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.offers__card .card--4__text div:nth-child(1) {
  line-height: 1.1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
  margin-top: 20px;
}
.offers__card .card--4__text div:nth-child(1) p:nth-child(1) {
  font-size: 40px;
}
.offers__card .card--4__text div:nth-child(1) p:nth-child(2), .offers__card .card--4__text div:nth-child(1) p:nth-child(3) {
  font-size: 14px;
}
.offers__card .card--4__text div:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  line-height: 0.8;
}
.offers__card .card--4__text div:nth-child(2) p:nth-child(1) {
  font-size: 45px;
}
.offers__card .card--4__text div:nth-child(2) p:nth-child(2) {
  font-size: 12px;
  margin-left: 290px;
}