.experience-page{
	height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.85),rgba(0, 0, 0, 0.8)), url(/Images/living-room.jpg);
	background-position: center;
	background-size: cover;
  }
  
  .experience-container{
	max-width: 1100px;
  margin: 0 auto;
  }

  .experience__text{
    display: flex;
    padding: 120px;
    display: grid;
    place-content: center;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr 1fr;
    row-gap: 10px;
    column-gap: 20px;
  }
  
  .first-paragraph-experience-main{
  // border: #fff solid 2px;
  align-items: center;
  }

  .first-paragraph-experience{
	width: 600px;
  padding-top: 50px;
  @include text-color;
	font-size: 40px;
  letter-spacing: 2px;
  align-self: center;
  }
  
  .image1-experience{
	width: 450px;
  // border: #fff solid 2px;
  border-radius: 2px;
	height: 230px;
    align-self: start;
  }
  
  .image2-experience{
	width: 500px;
	height: 250px;
	object-fit: cover;
	object-position: center;
	padding: 10px 2px 10px 10px;
  align-self: end;
  border-radius: 10px;
  }
  
  .pg-exp{
  // border: #fff solid 2px;

  .parag-btn{
    color: #fff;
    padding-top: 20px;
    margin-left: 10px;
    font-size: 20px;
    cursor: pointer;
  }
  }
  .paragraph-experience{
	color: white;
	width: 500px;
	padding: 10px;
	font-size: 17px;

  }