.home-page{
	background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.8)), url(/Images/home-living.jpg);
	background-size: cover;
	background-position: center;
	margin: 0;
	height: 100vh;
  }

  .homepage-container{
	max-width: 1100px;
	margin: 0 auto;
	position: relative;
  }

  .nav-bar{
	display: flex;
	align-items: center;
	justify-content: space-between;
  }
  
  .logo{
	width: 145px;
	padding: 10px;
  }
  
  .menu-list{
	list-style-type: none;
	display: inline-block;
	padding: 15px;
  }
  .menu-links{
	color: white;
	text-decoration: none;
	padding: 10px;
	font-weight: bold;
  }
  
  .menu-links:hover{
	  background: linear-gradient(to right, darkorange, #ad4236 75%);
	  background-clip: text;
	  -webkit-background-clip: text;
	  -webkit-text-fill-color: transparent;
  }
  
  .content{
	position: absolute;
	top: 200px;
	left: 0;
	color: white;
  }
  
  .first-paragraph{
	background: linear-gradient(to right, darkorange, #ad4236 75%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	width: 600px;
	margin: 10px;
	font-size: 38px;
  }
  
  .second-paragraph{
	margin: 10px;
  }
  
  .content-btn{
	margin: 10px;
	border: transparent;
	background: linear-gradient(to right, darkorange, #ad4236 80%);
	padding: 10px 16px;
	border-radius: 5px;
	color: white;
	font-size: 16px; 
	cursor: pointer;
  }

  .choice-container{
	position: absolute;
	top: 570px;
	left: 0;
	background-color: steelblue;
	width: 950px;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 20px;
	border-radius: 2px;
	background: linear-gradient(to right, darkorange, #ad4236 80%);
  }

  .class-btns{
	font-weight: bold;
	height: 35px;
	color: white;
	border: none;
	background-color: rgba(0, 0, 0, 0.3);
	padding: 10px 20px 10px 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 2px;
	font-size: 16px;
	cursor: pointer;
	margin: 6px;
  }

  .available{
	background: transparent;
  }