    $bg-color-cards: rgba(0,0,0,0.6);


.offers__container{
    max-width: 1100px;
    margin: 0 auto;
    min-height: 100vh;
}


.offers__title{
    background: linear-gradient(to right, darkorange, #ad4236 66%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    font-size: 35px;
    margin-top: 30px;
    line-height: 1.2;
    letter-spacing: 1.5px;
}

.offers__paragraph{
    margin-bottom: 25px;
}

.offers__cards{
    display: grid;
    grid-template-columns: 520px 520px;
    grid-template-rows: 350px 350px;
    column-gap: 29px;
    row-gap: 36px;
}

.offers__card{
    border-radius: 5px;  
    box-shadow: 2px 6px 10px 1px rgba(122, 122, 122, 0.4); 
    position: relative;
    color: #fff;

    // ALL CARDS
    .card__image{
        width: 100%;
        border-radius: 5px;
        z-index: 1;
        height: 100%;
    }

    // CARD--1
    .card--1__text{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0;
        display: flex;
        flex-direction: column;
        z-index: 2;
        background-color: $bg-color-cards;


        & div:nth-child(1){
            margin-left: 340px;
            margin-top: 20px;
            text-align: center;
            width: 180px;

            p{
                font-size: 10px;
            }
        }

        & div:nth-child(2){
            margin-left: 30px;
            margin-top: 80px;
            width: 180px;
            text-align: center;
            
            h3{
                font-size: 31px;
                line-height: 25px;
            }
            p{
                font-size: 12.1px;
                // font-weight: bold;
            }
        }
    }

    // CARD 2
    .card--2{

        &__text{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            background-color: $bg-color-cards;


            

           p{
            text-align: center;
           }

            & div:nth-child(1){
                
                & p:nth-child(1){
                    font-size: 40px;
                    letter-spacing: 5px;
                    margin-top: 20px;
                    
                }
            }
        }
    }

    // CARD 3

.card--3{
    
        &__text{
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;    
            background-color: $bg-color-cards;

            div{
                position: absolute;
                bottom: 30px;
                left: 180px;
                // right: 100px;
                & p:nth-child(1){
                    font-size: 14px;
                    margin-bottom: 5px;
                }

                & p:nth-child(2){
                    font-size: 10px;
                    width: 220px;
                    margin-left: 90px;

                }
            }

        }
}        // CARD 4
.card--4{
    
    &__text{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $bg-color-cards;

        & div:nth-child(1){
            line-height: 1.1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            margin-bottom: 20px;
            margin-top: 20px;


            & p:nth-child(1){
                font-size: 40px;
            }

            & p:nth-child(2), & p:nth-child(3) {
                font-size: 14px;
            }

            // & p:nth-child(3) {
            //     font-size: 14px;
            // }
        }

       
        & div:nth-child(2){
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            line-height: .8;

            & p:nth-child(1){
                font-size: 45px;
            }

            & p:nth-child(2){
                font-size: 12px;
                margin-left: 290px;
            }
        }

    }
}


}



