*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Barlow Condensed', sans-serif;
}

body{
    background-color: #f5f5f5;
}


@mixin text-color {
    background: linear-gradient(to right, darkorange, #ad4236 66%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.button-basics{
	margin: 10px;
	border: transparent;
	background: linear-gradient(to right, darkorange, #ad4236 80%);
	padding: 10px 9px 10px 10px;
	border-radius: 5px;
	// width: 150px;
	color: white;
	font-size: 16px; 
	cursor: pointer;
	transition: all .2s ease-in-out;

	&:hover{
		// background: linear-gradient(to right, rgb(243, 171, 83), #9e5a52 80%);
		color: #000;
	}
}

.btn-arrow{
	margin-left: 30px;
}

.news__titles{
	font-weight: 400;
	letter-spacing: .8px;
	font-size: 20px;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.news__main{
	font-weight: 500;
	letter-spacing: .5px;
	font-size: 23px;
	text-transform: capitalize;
}

.news__clinchers{
	position: absolute;
	bottom: 20px;
	font-weight: 500;
	font-size: 17px;
}
