@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;600;700&display=swap');
@import 'resets';
@import 'homepage';
@import 'experience';
@import 'explore';
@import 'offers';

@mixin gradient-text-color{
    background: linear-gradient(to right, darkorange, #ad4236 66%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}