*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
  }
  
  .home-page{
	background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.8)), url(./Images/asset-4.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
	
  }

  .homepage-container{
	max-width: 1100px;
	margin: 0 auto;
  }
  .nav-bar{
	display: flex;
	justify-content: space-between;
  }
  
  .logo{
	width: 150px;
	padding: 10px;
	position: absolute;
	left: 7%;
  }
  
  .menu-list{
	list-style-type: none;
	display: inline-block;
	padding: 18px;
  }
  .menu-links{
	color: white;
	text-decoration: none;
	padding: 22px;
	font-weight: bold;
  }
  
  .menu-links:hover{
	  background: linear-gradient(to right, darkorange, #ad4236 75%);
	  background-clip: text;
	  -webkit-background-clip: text;
	  -webkit-text-fill-color: transparent;
  }
  
  .content{
	
	position: absolute;
	top: 40%;
	left: 8%;
	color: white;
  }
  
  .first-paragraph{
	background: linear-gradient(to right, darkorange, #ad4236 75%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	width: 600px;
	margin: 10px;
	font-size: 38px;
  }
  
  .second-paragraph{
	margin: 10px;
  }
  
  .content-btn{
	margin: 10px;
	border: transparent;
	background: linear-gradient(to right, darkorange, #ad4236 75%);
	padding: 10px 16px;
	border-radius: 10px;
	color: white;
	font-size: 16px; 
	cursor: pointer;
  }
  
  .experience-page{
	height: 100vh;
	background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.8)), url(Images/asset-3.jpg);
	background-position: center;
	background-size: cover;
	margin-top: 0;
  }
  
  .experience-container{
	display: grid;
	grid-template-columns: 2fr 1fr 2fr 1fr;
	grid-template-rows: 2;
	justify-content: center;
	grid-auto-rows: 250px;
	grid-gap: 20px;
	position: relative;
	top: 23%;
	left: 7%;
  }
  
  .first-paragraph-experience{
	background: linear-gradient(to right, darkorange, #ad4236 75%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin: 10px;
	font-size: 38px;
	grid-column: 1/2;
  }
  
  .image1-experience{
	width: 400px;
	height: 220px;
	border-radius: 10px;
	padding: 10px;
  
  }
  
  .image2-experience{
	width: 500px;
	height: 250px;
	object-fit: cover;
	object-position: center;
	border-radius: 10px;
	padding: 10px;
  }
  
  .paragraph-experience{
	color: white;
	width: 350px;
	padding: 10px;
	grid-column: 1/2;
	font-size: 20px;
  }
  